/* Team Page START */
.hierarchy {
    display: inline-block;
}

.hierarchy img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.name {
    text-align: center;
    white-space: nowrap;
    font-size: large;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.title {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    font-size: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

/* Team Page END */